'.platform-darwin':
  'cmd-b': 'tree-view:toggle'

'body':
  'ctrl-tab': 'window:focus-next-pane'

# textmanip flabor
'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'

  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'
